NEXT_PUBLIC_API_BASE_URL=https://software.example.com/api/v1/ecommerce
NEXT_PUBLIC_API_KEY=pk_xxxxxxxxxxxxxxxxxxxxxxx
API_SECRET_KEY=sk_xxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SITE_URL=https://example.com
