NEXT_PUBLIC_API_BASE_URL=https://software.example.com/api/v1/ecommerce
NEXT_PUBLIC_API_KEY=pk_xxxxxxxxxxxxxxxxxxxxxxx
API_SECRET_KEY=sk_xxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SITE_URL=https://example.com

# SSLCommerz
SSL_STORE_ID=your_store_id
SSL_STORE_PASSWORD=your_store_password
SSL_IS_LIVE=false

# BKASH PAYMENT TEST
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
# 01619777283 / 01619777283  pin 12121 otp 123456